/* Font Styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.movie-background {
  background-color: #6A9C89;
  min-height: 100vh;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
}


.movie-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2rem;
}


.movie-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2rem; /* Add margin to separate the cards vertically */
  }

.movie-card img {
  border-radius: 10px;
}

.movie-card h1 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.learn-more-btn {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #555;
}


.row {
    margin-bottom: 2rem;
}
  
.vote-average {
    font-size: 1rem;
    color: #ffcc00; /* Gold color for the star rating */
    margin-top: 5px;
    font-weight: bold;
  }

